alabaster==0.7.16
albumentations==1.4.4
annotated-types==0.6.0
appdirs==1.4.4
asttokens==2.4.1
attrs==23.2.0
autopep8==2.1.0
Babel==2.14.0
blinker==1.7.0
braceexpand==0.1.7
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.0
cupy-cuda12x==13.0.0
cycler==0.12.1
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
decorator==5.1.1
dglgo==0.0.2
docker-pycreds==0.4.0
docutils==0.20.1
einops==0.7.0
executing==2.0.1
ExifRead-nocycle==3.0.1
fastjsonschema==2.19.1
fastrlock==0.8.2
filelock==3.9.0
fire==0.5.0
Flask==3.0.3
fonttools==4.50.0
fsspec==2023.4.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
GPUtil==1.4.0
idna==3.6
imageio==2.34.0
imagesize==1.4.1
img2dataset==1.45.0
importlib_metadata==7.1.0
iopath==0.1.10
ipydatawidgets==4.3.5
ipython==8.22.2
ipywidgets==8.1.2
isort==5.13.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
lazy_loader==0.4
libigl==2.5.1
littleutils==0.2.2
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
meshplot @ https://github.com/skoch9/meshplot/archive/0.4.0.tar.gz#sha256=c527a14d803044b190d6da4a21c8507da1bd8d7dc3d449f771da1f5cf00e6ac9
mpmath==1.3.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
numpydoc==1.7.0
objaverse==0.1.7
ogb==1.3.6
open3d==0.18.0
opencv-python-headless==4.9.0.80
outdated==0.2.2
packaging==24.0
pandas==2.2.1
parso==0.8.3
pillow==10.2.0
platformdirs==4.2.0
plotly==5.20.0
plyfile==1.0.3
polyscope==2.2.1
portalocker==2.8.2
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.2
pycodestyle==2.11.1
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pythreejs==2.4.2
pytz==2024.1
pywin32==306
PyYAML==6.0.1
rdkit-pypi==2022.9.5
referencing==0.34.0
requests==2.31.0
retrying==1.3.4
rich==13.7.1
robust-laplacian==0.2.7
rpds-py==0.18.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.23.1
scikit-learn==1.4.1.post1
scipy==1.12.0
sentry-sdk==1.45.0
setproctitle==1.3.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
threadpoolctl==3.4.0
tifffile==2024.4.18
tqdm==4.66.2
traitlets==5.14.2
traittypes==0.2.1
trimesh==4.3.1
typer==0.12.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wandb==0.16.6
wcwidth==0.2.13
webdataset==0.2.86
Werkzeug==3.0.2
widgetsnbextension==4.0.10
yacs==0.1.8
zipp==3.18.1
